# 自定义配置
shiny:
  # 名称
  name: ${spring.application.name}
  # 版本
  version: 0.0.1
  # 版权年份
  copyrightYear: 2018
  # 作者
  developer: Yangkai.Shen
  # driver 路径
  driver-path: /Users/yangkai.shen/Documents/code/back-end/shiny-telegram/back/driver
  # 并发软件采集的数量
  spider-num: 5

spring:
  application:
    name: shiny
  datasource:
    url: jdbc:mysql://localhost:3306/shiny?useUnicode=true&characterEncoding=UTF-8&useSSL=false&autoReconnect=true&failOverReadOnly=false&serverTimezone=GMT%2B8
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      connection-test-query: SELECT 1 FROM DUAL
      maximum-pool-size: 20
      auto-commit: true
      idle-timeout: 30000
      pool-name: ShinyHikariCP
      max-lifetime: 60000
      connection-timeout: 30000
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

server:
  port: 8080
  servlet:
    context-path: /shiny
  tomcat:
    uri-encoding: utf-8

# mybatis 配置
mybatis:
  type-aliases-package: com.xkcoding.scaffold.model
  mapper-locations: classpath:mybatis/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true

# 通用 Mapper 配置
mapper:
  mappers: com.xkcoding.shiny.common.MyMapper
  notEmpty: true

# PageHelper 配置
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql

#日志配置
logging:
  level:
    com.xkcoding: info
    org.springframework: info
    com.xkcoding.shiny.mapper: debug