<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.shiny.mapper.SpiderLogMapper">
  <resultMap id="BaseResultMap" type="com.xkcoding.shiny.model.SpiderLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="spider_name" jdbcType="VARCHAR" property="spiderName" />
    <result column="spider_url" jdbcType="VARCHAR" property="spiderUrl" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="spider_time" jdbcType="TIMESTAMP" property="spiderTime" />
  </resultMap>
</mapper>